#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 60vh; /* Opcional: ajustar el alto de la pantalla */
}

.status {
  font-size: 1.2em; /* Ajusta el tamaño de fuente */
  font-weight: bold; /* Agrega negrita */
}

.squareClass {
  border: 1px solid #000; /* Agrega un borde constante */
  width: 50px; /* Ajusta el ancho del botón según tus necesidades */
  height: 50px; /* Ajusta la altura del botón según tus necesidades */
  font-size: 1em; /* Ajusta el tamaño de fuente del botón según tus necesidades */
}

.game {
  display: flex;
  align-items: center;
}

.game-board {
  margin-right: 2rem;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  margin-bottom: 1rem;
}

.game-info ol {
  font-size: 0.9em; /* Ajusta el tamaño de fuente de la lista según tus necesidades */
}

.game-info ol li button {
  font-size: 0.8em; /* Ajusta el tamaño de fuente de los botones según tus necesidades */
  padding: 5px 10px; /* Ajusta el relleno (padding) de los botones según tus necesidades */
}

body {
  background: linear-gradient(to bottom, violet, white); /* Aplica un degradado vertical */
}
